<div class="hero">
    <br>
    <div class="frosty col-10 offset-1 text-center">
        <br>
        <h1>MINDSHIFT</h1>
        <br>
        <h4>Shift your mind. Shift the world.</h4>
        <br>
        <%= link_to 'Learn More', '#', class: 'btn btn-outline-info' %>
        <br><br>
    </div>
</div>