@import "bootstrap";
@import "font-awesome";

/* COLOR SCHEMES
    Aqua - #25CED1
    Orange - #FF8a5B
    BG: Creme - #F4F4F4

    SUPPORT: Aqua - 5BD3C7
    MAIN: Navy - 353755
    BG: Gray - E0E4EE
*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0E4EE;
//    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
}

.booyah-box {
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background:#fff;
    border: 1px solid;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.booyah-box h2, .booyah-box h1 {
    margin: 10px;
    color: #5BD3C7;
}

.btn:hover {
    // border-radius: 0;
    cursor: pointer;
}

.badge-info {
    background-color: #5BD3C7;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

.badge-default {
    font-size: 15px;
    padding: 10px;
    background-color: #353755;
    color: #E0E4EE;
}

.btn-info {
    background-color: #5BD3C7;
}

.btn-enrolled {
    background-color: #5BD3C7;
    color: white;
}

.btn-info:hover {
    background-color: #353755;
    cursor: pointer;
}

//Stripe Button Override
button.stripe-button-el,
button.stripe-button-el>span {
  display: none !important;
}


.card-error {
    background-color: rgb(241, 145, 145);
    font-weight: 400;
    padding: 20px;
    margin: 10px;
    border: 10px solid red;
}

.categories {
    margin-top: 30px;
}

.clear {
    clear: both;
}

.courselink a:link {
    text-decoration: none;
}

.dashboard h3 {
    color: #5BD3C7;
}

.description {
    margin-top: 10px;
}

.dots-white:after {
    content: '\2807';
    font-size: 40px;
    color: white;
    margin-top: -17px;
//    margin-left: 10px;
    float: left;
}

.dots-purple:after {
    content: '\2807';
    font-size: 40px;
    color: #353755;
    margin-top: -17px;
    float: left;
}

.dots-white:hover, .dots-purple:hover {
    cursor: move;
    cursor: -moz-move;
    cursor: -webkit-move;
}

.otherlinks {
    color: black;
    font-family: "Helvetica Nueue", Helvetica;
}

.feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.form {
    color: #353755;
    font-family: "Helvetica Nueue", Helvetica;
}

.frosty {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: "Helvetica Nueue", Helvetica;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frosty h1 {
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h4 {
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.hero {
    background: image_url('hero.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 370px;
    box-shadow: 0px 3px 8px #2a2a2a;
}

.hr-white {
    border-color: white;
    margin: 2px auto;
    width: 60%;
}

.imgdrop {
    border:2px solid #FFF;
    box-shadow: -5px 7px 5px #ccc;
}

.invalid-feedback {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
    margin: 10px;
  }

.imagefront {
    max-height: 300px;
}

.lesson {
    background-color: #353755;
//    background-color: #E0E4EE;
    margin: 10px 0px;
    min-height: 140px;
    padding: 25px 15px;
}

.lesson a {
    color: white;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    font-size: 17px;
}

.lesson a:hover {
    text-decoration: none;
}

.lesson a b {
    font-weight: 300;
    font-size: 25px;
}

.mainbtn {
    color: #353755;
    background-color: #5BD3C7;
    outline-color: #353755;
}

.modal-title {
    color: #5BD3C7;
}

.navbar {
    box-shadow: 0px 1px 3px #2a2a2a;
    background-color: #353755;
    margin: 0;
}

.navbar-nav  {
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica;
    color: white;
}

.navbar-brand {
    font-family:"Helvetica Neue", Helvetica;
    font-size: 20px;
    font-weight: 100;
    color: white;
}

.privacy h1, .privacy h2, .privacy h3 {
    color: #5BD3C7;
}

.section {
    background-color: #E0E4EE;
//    background-color: #353755;
    border: 1px solid;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    padding: 20px;
    margin-bottom: 30px;
}

.section h3 {
    margin: 0px 0px 10px 0px;
    color: #353755;
}

